services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    restart: unless-stopped
    environment:
      - TZ=Asia/Kuala_Lumpur
    volumes:
      - data:/app/data

volumes:
  data:
